body {
    margin: 0 auto;
    font-size: 18px;
    font-family: "Lato", "Arial", sans-serif;
    color: #797f97;
   
  }
  * {
    box-sizing: border-box;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  
  p {
    margin: 0 0 10px;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }
/*--  using styles --*/
.wrapper {
    width: 1020px;
    background-color: #f06c64;
    margin: auto;
}

.wrap {
  max-width: 960px;
  height: 655px;
  margin: auto;
  border-bottom: 6px solid #ea676b;
}

.section-contact-info-row {
  margin: auto;
  margin-bottom: 15px;
}

.contact-info-title {
  width: 940px;
  height: 110px;
  font-size: 30px;
  line-height: 18px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
  padding-top: 68px;
  margin: auto;
}

.contact-info-comment {
  width: 940px;
  height: 57px;
  font-size: 18px;
  line-height: 30px;
  padding-top: 3px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 300;
  text-align: left;
  text-align: justify;
  margin: auto;
}

.form-main {
  margin-top: 20px;
  width: 620px;
  margin-left: 10px;
  display: inline-block;
  vertical-align: top;
}
  
.form {
  display: block;
  width: 619px;
  height: 38px;
  border-radius: 5px;
  background-color: #d6564f;
  border-style: none;
  margin: 15px auto 14px auto;
  font-size: 12px;
  line-height: 22px;
  color: #f48c8f;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
  padding-left: 12px;
}
.form-text-area {
  font-size: 12px;
  line-height: 22px;
  height: 202px;
  color: #f48c8f;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
  margin-top: 17px;
  resize: none;
}
.info {
  display: inline-block;
  width: 320px;
  padding-left: 16px;
  padding-top: 33px;
  
}
.info-title {
  margin-bottom: 18px;
}
.info-title > p {
  padding-top: 8px;
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 400;
  text-align: justify;
}

.info-title > h3 {
  font-size: 18px;
  line-height: 18px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
}

.contacts {
  width: 320px;
  height: 15px;
  margin-top: 7px;
}
.contacts > a {
  text-decoration: none;
  text-align: center;
}
.contacts > a > div {
  display: inline-block;
  width: 10px;
}
.contacts > a > span {
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
  margin-left: 10px;
} 
.contacts > a > span:hover {
  color: #555050;
  transition-duration: .2s;
}
.footer-container {
  width: 1020px;
  background-color: #2d303a;
  margin: auto;
}
.footer {
  width: 960px;
  height: 76px;
  padding-left: 10px;
  margin: auto;
}
.footer-copyright {
  display: inline-flex;
  height: 30px;
  width: 100px;
  line-height: 76px;
}
.footer-copyright > span{
  font-size: 12px;
  line-height: 22px;
  color: #666d89;
  font-family: 'Lato';
  font-weight: 300;
}

.wrap-socials {
  display: inline-flex;
  margin-left: 685px;
}

.socials {
  margin: 23px 0 20px;
  list-style: none;
  display: flex;
}

.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: 32px;
  height: 32px;
  margin-right: 8px;
  border-radius: 50%;
  border: 1px solid #666d89;
  box-sizing: border-box;
  cursor: pointer;
}
.socials-link:hover {
  background-color: rgba(145, 146, 139, 0.2)
}
