body {
    margin: 0 auto;
    font-size: 18px;
    font-family: "Lato", "Arial", sans-serif;
    color: #797f97;
   
  }
  * {
    box-sizing: border-box;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  
  p {
    margin: 0 0 10px;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }

.wrapper {
    width: 100%;
}
.portfolio-container {
    margin: 0 auto;
    padding-top: 58px;
    padding-bottom: 56px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}
.wrap {
    max-width: 1020px;
    margin: auto; 
}
.content-left {
    text-align: left;
}
.gallery-row {
    display: flex;
    justify-content: center;
}
.gallery-img {
    margin: 0 10px;
    padding-top: 8px;
    padding-bottom: 7px;
    overflow: hidden;
    display: inline-block;
}

.nav-portfolio-row {
    margin-left: 40px;
    margin-bottom: 5px;
}
.portfolio-title {
    margin: 5px auto;
    margin-bottom: 18px;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 900;
}
.portfolio-title-comment {
    margin: 5px auto;
    font-size: 18px;
    line-height: 1.66;
    letter-spacing: -0.21px;
}
.nav-portfolio-btn-block {
    display: flex;
    margin: 12px 0;
    padding-left: 1px;
}
.nav-btn {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -0.3px;
    word-spacing: 1px;
    padding: 0 7px;
    margin-right: 10px;
    box-sizing: border-box;
    color: #767e9e;;
    border: 1px solid #767e9e;
    transition-duration: 500ms;
    transition-property: color, border-color;
    border-radius: 5px;
    text-decoration: none;
}
.nav-btn-active,
.nav-btn:hover {
    color: #fff;
    border-color: #fff;
}
.nav-btn:hover {
    cursor: default;
}
.about-us-container {
    background-color: #f2f2f2;
    border-bottom: 6px solid #fff;
    padding-bottom: 44px;
  }
  .about-us-main-block {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 40px;
  }
  .about-us-block-title {
    font-size: 30px;
    line-height: 1.2;
    font-weight: 900;
    margin: 55px 0 18px;
    color: #666d89;
  }
  .about-us-block-text {
    font-size: 18px;
    line-height: 1.66;
    letter-spacing: -0.21px;
    color: #767e9e;
    margin: 18px 0 11px;
  }
  .about-us-block {
    text-align: center;
    padding-top: 30px;
  }
  .about-us-block-item {
    display: inline-block;
    flex-basis: 300px;
    max-width: 300px;
    margin: auto 7px;
  }
  .about-us-block-item > img {
    width: 300px;
    height: 300px;
  }
  .about-us-block-name {
    font-size: 18px;
    line-height: 1;
    letter-spacing: -0.2px;
    font-weight: 900;
    margin: 18px 0 10px;
    color: #666d89;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
  }
  .about-us-block-description {
    font-size: 12px;
    line-height: 21.56px;
    color: #767e9e;
    text-align: justify;
    margin: 10px 0;
  }
  .about-us-block-socials {
    margin: 23px 0 20px;
  }
  .socials {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
  .socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: 32px;
    height: 32px;
    margin-right: 8px;
    border-radius: 50%;
    border: 1px solid #666d89;
    box-sizing: border-box;
    cursor: pointer;
  }
  .socials-link:hover {
      background-color: #ced2df;
  }