html {
  scroll-behavior: smooth;
}

body {
    font-size: 12px;
    font-family: "Lato", "Arial", sans-serif;
    color: #797f97;
    margin: 0;
  }
  
  * {
    box-sizing: border-box;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  
  p {
    margin: 0 0 10px;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }

 
 .wrapper {
    width: 1020px;
    margin: auto;
    
  }
  .container {
    width: 940px;
    margin: 0 auto;
  }
  .container-slider {
    width: 864px;
    margin: 0 auto;
  }
  .container.flex {
    display: flex;
  }
 
 /* ----         max width 1020px  ----  HEADER   -----    ----- */
  
@media (max-width: 1020px)  {
  .wrapper {
    max-width: calc(100%);
    
  }
  .container {
    width: calc(100% - 80px);
    margin: 0 auto;
  }
     




}

  header {
    top: 0;
    position: sticky;
    z-index: 1000;
  }
  .header-main {
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    height: 95px;
    
  }
  
  .header-inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 5px;
    padding-left: 15px
  }

  .header-logo-title {
    font-weight: bold;
    font-size: 25px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: -0.04rem;
    margin-top: 30px;
  }
  
  .title-elem {
    font-size: 25px;
    color: #f06c64;
    font-weight: bold;
  }
  
  .header-navigation {
    margin-top: 38px;
  }
  
  .nav-link {
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.009em;
    -webkit-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    transition: color 0.2s linear;
    font-size: 11.5px;
  }
  
  .nav-link:hover {
    color: #f06c64;
  }
  
  .active {
    color: #f06c64;
  }
  
  .nav-btn {
    list-style: none;
    display: inline-block;
  }
  
  .nav-btn:not(:first-child)::before {
    content: "\2219";
    color: #494e62;
    margin: 0 13px 0 12px;
  }
 /* ---------------------------- SLIDER  ---------------------------------*/
 



.slider__wrapper {
  height: 600px;
  padding: 0;
  background: #f06c64;
  position: relative;
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  height: 600px;
  display: none;
  animation: 0.5s ease-in-out;
}

.next-slide {
  display: block;
}

.slide-1 {
  border-bottom: 6px solid #ea676b;
}

.slide-2 {
  background: url(assets/images/slide-2.jpg) no-repeat;
  border: 0;
  border-bottom: 6px solid #5a88fc;
}

.slide_active {
  display: block;
}

.to-right {
  animation-name: right;
}

.to-left {
  animation-name: left;
}

.from-left {
  animation-name: left;
  animation-direction: reverse;
}

.from-right {
  animation-name: right;
  animation-direction: reverse;
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

.iphone-vertical,
.iphone-horizontal {
  position: relative;
}

.base {
  cursor: pointer;
}

.shadow-vertical {
  position: absolute;
  z-index: 10;
  top: 53px;
  left: 112px;
  width: 240px;
  height: 483px;
  background: url("assets/images/shadow-vertical.png") no-repeat;
}

.base-vertical {
  position: absolute;
  z-index: 20;
  top: 53px;
  left: 112px;
  width: 215px;
  height: 458px;
  background: url("assets/images/base-vertical.png") no-repeat;
}

.screen-vertical {
  position: absolute;
  z-index: 30;
  top: 62px;
  left: 11px;
  width: 194px;
  height: 339px;
  background: url("assets/images/screen-vertical.jpg") no-repeat;
}

.shadow-horizontal {
  position: absolute;
  z-index: 10;
  top: 174px;
  left: 426px;
  width: 483px;
  height: 240px;
  background: url("assets/images/shadow-horizontal.png") no-repeat;
}

.base-horizontal {
  position: absolute;
  z-index: 20;
  top: 174px;
  left: 425px;
  width: 458px;
  height: 215px;
  background: url("assets/images/base-horizontal.png") no-repeat;
}

.screen-horizontal {
  position: absolute;
  z-index: 30;
  top: 11px;
  left: 57px;
  width: 339px;
  height: 194px;
  background: url("assets/images/screen-horizontal.jpg") no-repeat;
}

.screen_on {
  opacity: 1;
  transition: 0.1s;
}

.screen_off {
  opacity: 0;
  transition: 0.4s;
}

.arrow-left {
  position: absolute;
  top: 281px;
  left: 42px;
  width: 16px;
  height: 27px;
  background: url(assets/images/arrow-left.png);
}
.arrow-right {
  position: absolute;
  top: 281px;
  right: 40px;
  width: 16px;
  height: 27px;
  background: url(assets/images/arrow-right.png);
}
.arrow-left:hover {
    cursor: pointer;
    opacity: 0.5;
    
  }
  
  .arrow-right:hover {
    cursor: pointer;
    opacity: 0.5;
   
  }
 

  /* ------   max width 1020px  SLIDER    -----*/
  
  
@media (max-width: 1020px)  {
  
  .shadow-vertical {
    position: absolute;
    z-index: 10;
    top: 40px;
    left: 87px;
    width: 184px;
    background: url("assets/images/shadow-vertical.png") no-repeat;
    background-size: contain;
  }
  
  .base-vertical {
    position: absolute;
    z-index: 20;
    top: 40px;
    left: 86px;
    width: 163px;
   
    background: url("assets/images/base-vertical.png") no-repeat;
    background-size: contain;
  
  }
  
  .screen-vertical {
    position: absolute;
    z-index: 30;
    top: 49px;
    left: 11px;
    width: 142px;
    background: url("assets/images/screen-vertical.jpg") no-repeat;
    background-size: contain;
  
  }
  
  .shadow-horizontal {
    position: absolute;
    z-index: 10;
    top: 114px;
    left: 299px;
    width: 367px;
    height: 240px;
    background: url('assets/images/shadow-horizontal.png') no-repeat;
    background-size: contain;
  
  }
  
  .base-horizontal {
    position: absolute;
    z-index: 20;
    top: 135px;
    left: 323px;
    width: 345px;
    height: 215px;
    background: url('assets/images/base-horizontal.png') no-repeat;
    background-size: contain;
  
  }
  
  .screen-horizontal {
    position: absolute;
    z-index: 30;
    top: 10px;
    left: 44px;
    width: 252px;
    height: 194px;
    background: url('assets/images/screen-horizontal.jpg') no-repeat;
    background-size: contain;
  
  }
  .arrow-left {
    left: 32px;
}
.arrow-right {
  right: 17px;
}
.slide-2{
  background-size: 100% 80%;
}
.slider__wrapper {
  height: 451px;
}
}
/* -- screen switcher------- */

 .screen_on {
  opacity: 1;
  transition: 0.1s;
}

.screen_off {
  opacity: 0;
  transition: 0.4s;
}
  .services {
    padding-top: 41px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
  }
  .our-services-title-text {
    padding-top: 14px;
  }
  .services-tittle {
    margin-bottom: 18px;
    font-weight: 900;
    font-size: 30px;
    color: #666d89;
    letter-spacing: 0.08px;
  }
  
  .services-description {
    margin-bottom: 43px;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    letter-spacing: -0.0019rem;
  }
  
  .services-skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
        margin-left: 15px;
        margin-bottom: -20px;
  }
  
  .our-services-container-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 30%;
    margin-bottom: 17px;
    margin-left: 20px;
  }
  
  .our-services-container-item:last-child {
    margin-bottom: 70px;
  }
  
  .disable-margin-item {
    margin-left: 0;
  }

  .icon-skill:hover {
         background-color: rgba(182, 70, 65, 0.4);
         border-radius: 50%;
         -webkit-transition: left 0.4s linear;
         -o-transition: left 0.4s linear;
         transition: left 0.4s linear;
  }

  .icon-skill {
    margin-top: 4px;
    margin-right: 20px;
  }
  
  .item-content {
    overflow: hidden;
    height: 106px;
    padding: 8px;
  }
  
  .item-tittle {
    margin-bottom: 8px;
    font-weight: 900;
    font-size: 18px;
    color: #666d89;
    letter-spacing: -0.009rem;
  }

  .item-description {
    font-size: 12px;
    line-height: 22px;
    text-align: justify;
    color: #767e9e;
    letter-spacing: -0.01rem;
  }
  




.item-active {
  border: 5px solid #F06C64;
}

/*-------     max width 1020px  OUR SERVICE BLOCK     -------*/

@media (max-width: 1020px)  {


  .services-skills {
    margin-left: 0;
  }
  .our-services-container-item {
    width: 48%;
    margin-left: 10px;
  }
  .icon-skill {
    margin-right: 0;
  }
   .item-content {
     padding: 22px;
     height: 126px;
   }

}


.portfolio__wrapper {
  background: #2d303a;
  flex-direction: column;
  padding-top: 69px;
  padding-bottom: 47px;
  border-bottom: 6px solid #313745;
}

.portfolio__heading {
  font-size: 30px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: -0.2px;
  text-transform: capitalize;
  color: #666d89;
  margin-bottom: 27px;
}

.portfolio__buttons {
  display: flex;
  margin-bottom: 18px;
}

.c-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 0;
  background: #ccc;
}

.button {
  border: 1px solid #666d89;
  border-radius: 5px;
  background: transparent;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 400;
  margin-right: 10px;
  padding: 0 5px;
  cursor: pointer;
}

.button:hover {
  box-shadow: 0 0 3px 3px #eff2fa11;
}

.button:focus {
  outline: 0;
  box-shadow: 0 0 3px 3px #eff2fa11;
}

.button_bordered {
  color: #dedede;
  border-color: #c5c5c5;
}

.button_wide {
  padding-left: 7px;
  padding-right: 8px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery__picture {
  margin-bottom: 20px;
  cursor: pointer;
}

.gallery__picture:focus {
  outline: 5px solid #f06c64;
}

.gallery__picture_active {
  outline: 5px solid #f06c64;
}

.gallery__picture:nth-child(n + 13) {
  display: none;
}

.portfolio-container {
    margin: 0 auto;
    padding-top: 58px;
    padding-bottom: 56px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}

.layout-4-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
  height: 619px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.layout-4-column img {
  width: 220px;
  height: 187px;
  margin: 5px 11px 15px 8px;
 }

.nav-portfolio-row {
    margin-left: 40px;
    margin-bottom: 5px;
}

.portfolio-title {
    margin: 5px auto;
    margin-bottom: 18px;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 900;
}

.portfolio-title-comment {
    margin: 5px auto;
    font-size: 18px;
    line-height: 1.66;
    letter-spacing: -0.21px;
}

.nav-portfolio-btn-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 12px 0;
    padding-left: 1px;
}
.nav-portfolio-btn-block > ul {
        display: flex;
        list-style: none;
}
.portfolio-nav-btn {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -0.3px;
    word-spacing: 1px;
    padding: 0 7px;
    margin-right: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #767e9e;;
    border: 1px solid #767e9e;
    -webkit-transition-duration: 500ms;
         -o-transition-duration: 500ms;
            transition-duration: 500ms;
    -webkit-transition-property: color, border-color;
    -o-transition-property: color, border-color;
    transition-property: color, border-color;
    border-radius: 5px;
    text-decoration: none;
}

.portfolio-nav-btn-active,
.portfolio-nav-btn:hover {
    color: #fff;
    border-color: #fff;
}

.portfolio-nav-btn:hover {
    cursor: default;
}
 

/* -----------   max-width: 1020px  PORTFOLIO BLOCK ---- */


@media (max-width: 1020px) {

  .portfolio-title-comment {
    margin-right: 50px;
  }
  .layout-4-column {
    height: 824px;
  }
  .layout-4-column > img {
    width: calc(30% - 9px);
    margin: 5px 12px 15px 3px;
  }
}


/* -------------------- */


.about-us-container {
    background-color: #f2f2f2;
    border-bottom: 6px solid #fff;
    padding-bottom: 44px;
  }

  .about-us-main-block {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 40px;
  }

  .about-us-block-title {
    font-size: 30px;
    line-height: 1.2;
    font-weight: 900;
    margin: 55px 0 18px;
    color: #666d89;
  }

  .about-us-block-text {
    font-size: 18px;
    line-height: 1.66;
    letter-spacing: -0.21px;
    color: #767e9e;
    margin: 18px 0 11px;
  }

  .about-us-block {
    text-align: center;
    padding-top: 30px;
  }

  .about-us-block-item {
    display: inline-block;
    -ms-flex-preferred-size: 300px;
        flex-basis: 300px;
    max-width: 300px;
    margin: auto 8px;
    text-align: left;
  }

  .about-us-block-item > img {
    width: 300px;
    height: 300px;
  }

  .about-us-block-name {
    font-size: 18px;
    line-height: 1;
    letter-spacing: -0.2px;
    font-weight: 900;
    margin: 18px 0 10px;
    color: #666d89;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
  }

  .about-us-block-description {
    font-size: 12px;
    line-height: 21.56px;
    color: #767e9e;
    text-align: justify;
    margin: 10px 0;
  }

  .about-us-block-socials {
    margin: 23px 0 20px;
  }

  .socials {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .socials-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: 32px;
        flex-basis: 32px;
    height: 32px;
    margin-right: 8px;
    border-radius: 50%;
    border: 1px solid #666d89;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    cursor: pointer;
  }

  .socials-link:hover {
      background-color: #ced2df;
  }



 /* ----  about us block ------ */



  @media (max-width: 1020px) {
   .about-us-container {
    
   }
   .about-us-block {
    padding-left: 27px;
   }
  .about-us-block-text{
    margin: 18px 7px 11px 0;
  }
  .about-us-block-item {
    margin: auto 0;
  }
  .about-us-block-item > img {
    width: 216px;
    height: auto;
    margin: auto 7px 8px;
  }
  .about-us-block-description {
    width: 218px;
  }

}


/*----------  */



  .info-block-wrapper {
    background-color: #f06c64;
  }

  .info-container-block {
    max-width: 960px;
    height: 720px;
    margin: auto;
    border-bottom: 6px solid #ea676b;
    
  }
  
  .section-contact-info-row {
    margin: auto;
    margin-bottom: 15px;
  }
  
  .contact-info-title {
    width: 940px;
    height: 110px;
    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    padding-top: 68px;
    margin: auto;
  }
  
  .contact-info-comment {
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    padding-top: 3px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
    text-align: justify;
    margin: auto;
  }
  
  .form-main {
    margin-top: 20px;
    width: 620px;
    margin-left: 10px;
    display: inline-block;
    vertical-align: top;
  }
  
  input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #d6564f;
            box-shadow: inset 0 0 0 50px #d6564f;
    
  }

  input:-webkit-autofill:focus {
    -webkit-text-fill-color: #494b58;
  }

  input:focus{
    opacity: 0.65;
  }

  input::-webkit-input-placeholder {
    color: #f48c8f;
  }

  input::-moz-placeholder {
    color: #f48c8f;
  }

  input:-ms-input-placeholder {
    color: #f48c8f;
  }

  input::-ms-input-placeholder {
    color: #f48c8f;
  }

  input::placeholder {
    color: #f48c8f;
  }
  
  textarea:focus {
    opacity: 0.65;
  }

  textarea::-webkit-input-placeholder {
    color: #f48c8f;
  }

  textarea::-moz-placeholder {
    color: #f48c8f;
  }

  textarea:-ms-input-placeholder {
    color: #f48c8f;
  }

  textarea::-ms-input-placeholder {
    color: #f48c8f;
  }

  textarea::placeholder {
    color: #f48c8f;
  }

  .form {
    display: block;
    width: 619px;
    height: 38px;
    border-radius: 5px;
    background-color: #d6564f;
    border-style: none;
    margin: 15px auto 14px auto;
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    padding-left: 12px;
  }

  .form:last-child {
    width: calc(20%);
    margin-left: 0;
    text-align: center;
    height: 55px;
    font-size: 14px;
  }

  .form:last-child:hover {
    opacity: 0.65;
    color: #000000;
    -webkit-box-shadow: 1px 2px 7px 2px rgb(126, 61, 57);
            box-shadow: 1px 2px 7px 2px rgb(126, 61, 57);
    -webkit-transition-duration: 0.5s;
         -o-transition-duration: 0.5s;
            transition-duration: 0.5s;
    
  }
  
  .form-text-area {
    font-size: 12px;
    line-height: 22px;
    height: 202px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    margin-top: 17px;
    resize: none;
  }
  
  .info {
    display: inline-block;
    width: 320px;
    padding-left: 16px;
    padding-top: 33px;
    
  }

  .info-title {
    margin-bottom: 18px;
  }

  .info-title > p {
    padding-top: 8px;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;

  }
  
  .info-title > h3 {
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
  }
  
  .contacts {
    width: 320px;
    height: 15px;
    margin-top: 7px;
  }

  .contacts > a {
    text-decoration: none;
    text-align: center;
  }

  .contacts > a > div {
    display: inline-block;
    width: 10px;
  }

  .contacts > a > span {
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    margin-left: 10px;
  } 

  .contacts > a > span:hover {
    color: #555050;
    -webkit-transition-duration: .2s;
         -o-transition-duration: .2s;
            transition-duration: .2s;
  }

/*----------   form and contacts max width 1020  px ----*/


  @media (max-width: 1020px) {
    .form {
      width: 445px;
    }
    .form-main{
      width: 445px;
      margin-left: 40px;
    } 
     .contact-info-comment {
       width: auto;
     }
     .contact-info-title {
       width: auto;
     }
     .section-contact-info-row {
      width: calc(100% - 79px);
     }
     .info {
      width: calc(32%);
      padding-left: 24px;
     }
     .contacts {
       width: auto;
     }

    }


/*-------*/

  .footer-container {
    width: 1020px;
    background-color: #2d303a;
    margin: auto;
  }

  .footer {
    width: 960px;
    height: 76px;
    padding-left: 10px;
    margin: auto;
  }

  .footer-copyright {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 30px;
    width: 100px;
    line-height: 76px;
  }
  .footer-copyright > span{
    font-size: 12px;
    line-height: 22px;
    color: #666d89;
    font-family: 'Lato';
    font-weight: 300;
  }
  
  .wrap-socials {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-left: 685px;
  }
  
  .socials-footer {
    margin: 23px 0 20px;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .socials-link-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: 32px;
        flex-basis: 32px;
    height: 32px;
    margin-right: 8px;
    border-radius: 50%;
    border: 1px solid #666d89;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    cursor: pointer;
  }

  .socials-link-footer:hover {
    background-color: rgba(145, 146, 139, 0.2)
  }

/* -----------   max width 1020  -  FOOTER

  @media (max-width: 1020px) {
     .footer-container {
       width: calc(100%);
     }

     .footer {
       width: inherit;
     }
     .wrap-socials {
      margin-left: calc(58%);
     }
      .footer-copyright {
        margin-left: calc(4%);

      }



  */


/*----------------------   SWIPER
  @media (max-width: 960px){
    .description {
      flex-direction: column;
      align-items: center;
    }
  }
  @media (max-width: 640px) {
    .arrow{
      display: none;
    }
    .project-name {
      display: none;
    }
  }
*/

